p {
    font: bold;
}

.booklist {
    border: 12px double black;
}

.laatikko {

    height: fit-content;

    background-color: linen;
    border-bottom: 2px solid rgb(119, 119, 113);
    border-left: 5px solid rgb(12, 0, 119);
    padding: 15px;

    /* 
    border-radius: 25px;
    padding: 5px;
    margin: 5px; 
    */
}

.mark {
    background-color: rgb(241, 239, 111);
    border-color: crimson;
}

.laatikko:hover {
    background-color: red;
}
.flexinbox2 {
    display: flex;
}

.rivi {
    flex-direction: column;
}
.bookinfo {
    padding: 2%;
    text-align: right;
    border-right: solid 1px grey;
    align-items: baseline;
    font-weight: bolder;
    font-family: monospace;
    width: 250px;
}

.bookdesc {
    padding: 5px;
    padding-left: 15px;
    text-align: left;
}

button {
    background-color: linen;
    align-items: left;
    border-top: 1px solid rgb(255, 243, 243);
}

#override {
    padding: 15px;
    align-items: left;
    border-top: 0px;
    border-radius: 0px 0px 25px 25px;
}

button:hover {
    background-color: red;
    color:white;
}

.bookitem {
    border: 1px inset rgb(48, 31, 31);
    background-color: linen;
    float:left;

    padding: 1em;
    margin: 5px;
    border-radius: 25px;
   
}

.bookitem-right {
    float: right;
    margin-left: auto;
}

.filtterit {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: black 1px solid;
    background-color: linen;
}

.vasen {
    width: 40%;
    max-height: max-content;
    float: left;
    box-sizing: border-box;
}

.oikea {
    overflow: hidden;
    flex-direction: column;
    border-top: 2px solid;
    border-right: 2px solid;
}

.testi {
    float: right;
    margin-left: auto;
}
.hl {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-height: fit-content;
}

.hl:hover {
    border-bottom: 2px solid grey;
}

#icon {
    background-color: transparent;
    border: 0px solid transparent;
}

#icon:hover {
    background-color: red;
    border-radius: 50px;
}

.bookitems {
    max-height: fit-content;
}